# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge of one-to-many and many-to-many relationships!

## Objectives

You will be able to:
* Explain one-to-many and many-to-many joins as well as implications for the size of query results
* Query data using one-to-many and many-to-many joins

## One-to-Many and Many-to-Many Joins
<img src='images/Database-Schema.png' width="600">

## Connect to the Database

In [ ]:
import pandas as pd
import sqlite3
conn = sqlite3.Connection('data.sqlite')
pd.read_sql("SELECT name FROM sqlite_master WHERE type ='table'",conn)

## Employees and their Office (a One-to-One join)

Return a dataframe with all of the employees including their first name and last name along with the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [ ]:
pd.read_sql("""
SELECT firstName,lastName,city,state 
FROM employees
JOIN offices USING(officeCode)
ORDER BY firstName,lastName
""",conn)

## Customers and their Orders (a One-to-Many join)

Return a dataframe with all of the customers' first and last names along with details for each of their order numbers, order dates, and statuses.

In [ ]:
pd.read_sql("""
SELECT contactFirstName,contactLastName,orderNumber,orderDate,status
FROM customers
JOIN orders USING(customerNumber)
ORDER BY contactFirstName,contactLastName
""",conn)

## Customers and their Payments (another One-to-Many join)

Return a dataframe with all of the customers' first and last names along with details about their payments' amount and date of payment. Sort these results in descending order by the payment amount.

In [ ]:
pd.read_sql("""
SELECT contactFirstName,contactLastName,printf('$%.2f',amount) paymentAmount,paymentDate
FROM customers
JOIN payments USING(customerNumber)
ORDER BY CAST(amount as float) DESC
""",conn)

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a dataframe with all of the customers' first and last names along with the product names, quantities, and date ordered for each of the customers and each of their orders. Sort these in descending order by the order date.

- Note: This will require joining 4 tables! This can be tricky! Give it a shot, and if you're still stuck, turn to the next section where you'll see how to write subqueries that can make complex queries such as this much simpler!

In [ ]:
pd.read_sql("""
SELECT contactFirstName,contactLastName,productName,quantityOrdered,orderDate
FROM customers
JOIN orders USING(customerNumber)
JOIN orderdetails USING(orderNumber)
JOIN products USING(productCode)
ORDER BY orderDate DESC
""",conn)

## Summary

In this lab, you practiced your knowledge of one-to-many and many-to-many relationships!